@tailwind base;
@tailwind components;

@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: 14px;
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #ff5722; /* Replace with your desired primary color */
  --primary-color-text: #ffffff; /* Replace with a suitable text color for contrast */
}
