@tailwind base;
@tailwind components;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './primevue/tailwind.css';
@import 'tailwindcss/utilities';
@tailwind utilities;

body {
  font-family: 'Rubik', sans-serif;
  font-optical-sizing: 14px;
  font-weight: normal;
  font-style: normal;
}
